* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto';
}

.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 2%;
}

button {
	cursor: pointer;
	padding: 3px 8px;
	border-radius: 20px;
	border: 0;
	font-size: 16px;
	height: 40px;
}

h1 {
	font-size: 48px;
	font-weight: normal;
}

h2 {
	font-size: 38px;
	font-weight: normal;
}

h3 {
	font-size: 22px;
	font-weight: normal;
}

p {
	font-size: 18px;
}

input[type="text"], input[type="email"],  input[type="phone"], textarea {
	display: inline-block;
	border-radius: 20px;
	border: 0;
	outline: 0;
	padding: 8px 15px;
	font-size: 16px;
}

@color1: #31475e;
@color2: #ebebeb;
@color3: #ff5f27;

/* INICIO HEADER */

header {
	background-image: url('../images/bg.jpg');
	background-size: cover;
	background-position: center;
	min-height: 600px;

	.container {
		max-width: 1280px;
	}

	.menu-topo {
		padding: 30px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.logo {
			background-image: url('../images/logo.png');
			background-size: 100%;
			width: 132px;
			height: 20px;
			cursor: pointer;
			position: relative;
			z-index: 2;
		}

		.nav-desktop {
			ul {
				list-style-type: none;
				display: flex;
				align-items: center;
				gap: 15px;	
				
				a {
					text-decoration: none;
					color: white;
				}
				button {
					background-color: transparent;
					color: white;
					border: 1px solid white;
				}
			}
		}

		.nav-mobile {
			display: none;
			.nav-mobile-toggle {
				text-align: center;
				background-color: transparent;
				color: white;
				font-size: 32px;
				position: relative;
				z-index: 2;
				-webkit-tap-highlight-color: transparent;

				svg {
					width: 32px;
					height: 32px;
				}
			}
			.nav-mobile-menu {
				position: absolute;
				width: 100%;
				height: 0px;
				overflow: hidden;
				transition: 0.5s ease-out;
				top: 0;
				left: 0;
				background-color: @color1;

				ul {
					padding: 100px 10% 60px 10%;
					list-style-type: none;
					display: flex;
					flex-direction: column;
					gap: 25px;	
					
					a {
						text-decoration: none;
						color: white;
					}
					button {
						background-color: transparent;
						color: white;
						border: 1px solid white;
					}
				}
			}
		}
	}

	.chamada-header {
		color: white;
		max-width: 500px;
		display: flex;
		flex-direction: column;
		gap: 15px;
		padding: 60px 0;

		p {
			font-weight: lighter;
		}

		input {
			width: 240px;
			height: 35px;
			margin-right: 10px;
		}
		button {
			width: 180px;
			background-color: @color3;
			color: white;
		}
	}
}

/* INICIO DESCRICAO-DANKI */

section.descricao-danki {
	padding: 60px 0 30px 0;
	text-align: center;
}

/* INICIO DESCRICAO-DANKI-02 */

section.descricao-danki-02 {
	padding: 30px 0 30px 0;

	.texto-descricao {
		display: flex;
		justify-content: center;

		div {
			width: 50%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 25px;
			color: #31475e;

			h3 {
				line-height: 32px;
			}
			p {
				line-height: 26px;
			}
		}
	}
}

/* INICIO DESCRICAO-DANKI-03 */

section.descricao-danki-03 {
	padding: 30px 0 60px 0;
	.container {
		background-image: url('../images/bg2.jpg');
		background-size: cover;
		background-position: center;
		min-height: 350px;
		position: relative;
	}
	.box-depoimento {
		position: absolute;
		width: 90%;
		max-width: 440px;
		min-height: 200px;
		left: 50%;
		top: 55%;
		background-color: white;
		box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.6);
		padding: 25px;
		display: flex;
		flex-direction: column;
		gap: 25px;
		justify-content: center;
	}
}

/* INICIO SERVICOS */

section.servicos {
	padding: 30px 0 30px 0;

	.title-servicos {
		color: @color1;
		text-align: center;
	}
	.flex-servicos {
		padding: 30px 0;
		display: flex;
		gap: 25px;
		justify-content: center;
		flex-wrap: wrap;

		.box-servico {
			box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.2);
			min-width: 250px;
			width: 30%;
			min-height: 350px;
			display: flex;
			flex-direction: column;

			img {
				width: 100%;
			}
			.box-servico-wrapper {
				padding: 25px;
				color: @color1;
				display: flex;
				flex-direction: column;
				gap: 15px;
				flex: 1;

				h3 {
					font-size: 20px;
				}
				p {
					font-size: 15px;
					line-height: 1.6;
				}
				button {
					background-color: transparent;
					border: 1px solid @color1;
					color: @color1;
					align-self: flex-start;
					margin-top: auto;
				}
			}
		}
	}
}

/* INICIO PORTIFOLIO */

section.portifolio {
	padding: 30px 0 60px 0;
	text-align: center;

	.container {
		background-color: #f4f4f4;
		padding: 30px 60px;

		h3 {
			color: @color1;
		}

		.box-portifolio {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 25px 0;
		}
	}
}

/* INICIO CONTATO */

section.contato {
	text-align: center;
	padding: 30px 0;

	h3 {
		color: @color1;
		padding: 30px 0;
	}
	form {
		display: flex;
		flex-direction: column;
		gap: 15px;
		width: 100%;
		max-width: 500px;
		margin: 0 auto;

		input, textarea {
			border: 1px solid @color2;
			color: @color1;
		}
		textarea {
			resize: none;
			height: 120px;
		}
		button {
			background-color: @color3;
			color: white;
			align-self: flex-start;
			margin: 0 auto;
		}
	}
}

/* INICIO FOOTER */

footer {
	padding: 30px 0;
	background-color: #f4f4f4;
	color: @color1;

	.container {
		display: flex;
		justify-content: space-between;

		.box-footer {
			width: 30%;

			h3 {
				margin-bottom: 15px;
			}
			p {
				font-size: 14px;
			}
			form {
				display: flex;
				gap: 15px;

				button {
					background-color: white;
					border: 1px solid @color2;
					width: 45px;
				}
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	h1 {
		font-size: 38px;
	}

	h2 {
		font-size: 28px;
	}

	h3 {
		font-size: 20px;
	}

	p {
		font-size: 16px;
	}

	.container {
		padding: 0 10%;
	}

	header {
		.nav-desktop {
			display: none;
		}
		.nav-mobile {
			display: block !important;
		}
		form {
			display: flex;
			flex-direction: column;
			gap: 15px;
		}
	}

	section.descricao-danki-02 {
		.texto-descricao {
			flex-direction: column;
			align-items: center;
			gap: 25px;

			div {
				width: 100%;
				h3 {
					line-height: initial;
				}
				p {
					line-height: initial;
				}
			}
			img {
				width: 100%;
				max-width: 459px;
			}
		}
	}

	section.descricao-danki-03 {
		.box-depoimento {
			padding: 15px;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	footer {
		.container {
			flex-direction: column;
			align-items: center;
			gap: 60px;

			.box-footer {
				width: 100%;

				form {
					flex-direction: column;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	section.portifolio {
		.box-portifolio {
			flex-direction: column;
			gap: 25px;
		}
	}
}